#us-map-2009 {
    z-index: 11
}
#us-map-2010 {
    z-index: 10
}
#us-map-2011 {
    z-index: 9
}
#us-map-2012 {
    z-index: 8
}
#us-map-2013 {
    z-index: 7
}
#us-map-2014 {
    z-index: 6
}
#us-map-2015 {
    z-index: 5
}
#us-map-2016 {
    z-index: 4
}
#us-map-2017 {
    z-index: 3
}
#us-map-2018 {
    z-index: 2
}
#us-map-2019 {
    z-index: 1
}

.map-controls {
    padding-top: 10px;
}
.play-pause {
    min-width: 55px;
    display: block;
}

/* Remove play button on mobile, animation can still be playing if window is resized */
@media (max-width: 380px) {
    .play-pause {
        display: none;
    }
}
#button_play {
    width: 38px;
}

#aca-info {
    margin-top: 650px;
}

#us-mmr-map {
    position: relative;
    height: 650px;
}

.map-container {
    position: absolute;
    margin-left: auto;
    margin-right: auto;
    left: 0;
    right: 0;
    padding: 0;
    height: inherit;
}

@media (max-width: 991.98px) {
    #year-selector {
        justify-content: normal !important;
    }
}

@media (max-width: 767.98px) {
    #year-selector {
        justify-content: center !important;
    }
}

@media (max-width: 675.98px) {
    #us-mmr-map {
        height: 650px;
    }
    #aca-info {
        margin-top: 650px;
    }
    #year-selector {
        justify-content: center !important;
    }
}
@media (max-width: 575.98px) {
    #us-mmr-map {
        height: 600px;
    }
    #aca-info {
        margin-top: 600px;
    }
    #year-selector {
        justify-content: center;
    }
    
}
@media (max-width: 475.98px) {
    #us-mmr-map {
        height: 500px;
    }
    #aca-info {
        margin-top: 500px;
    }
    #year-selector {
        justify-content: center;
    }
}
@media (max-width: 375.98px) {
    #us-mmr-map {
        height: 400px;
    }
    #aca-info {
        margin-top: 400px;
    }
    #year-selector {
        justify-content: center;
    }
}

#year-selector {
    justify-content: normal;
}

.slidecontainer {
    /* padding-left: 25px; */
}

.slider {
    -webkit-appearance: none;
    width: 100%;
    height: 15px;
    border-radius: 5px;
    background: #d3d3d3;
    outline: none;
    opacity: 0.7;
    -webkit-transition: .2s;
    transition: opacity .2s;
}

.slider:hover {
    opacity: 1;
}

.slider::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: 25px;
    height: 25px;
    border-radius: 50%;
    background: #4CAF50;
    cursor: pointer;
}

.slider::-moz-range-thumb {
    width: 25px;
    height: 25px;
    border-radius: 50%;
    background: #4CAF50;
    cursor: pointer;
}

#medicaid-caption {
    padding-top: 16px;
    padding-bottom: 16px;
}