<!DOCTYPE html>

<html lang="en">

<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- BootStrap CSS -->
    <link rel="stylesheet" href="static/css/bootstrap/bootstrap.bundle.min.css" />

    <!-- AnyChart CSS -->
    <link rel="stylesheet" href="static/css/anychart/anychart-ui.min.css" />
    <link rel="stylesheet" href="https://cdn.anychart.com/releases/v8/fonts/css/anychart-font.min.css" />

    <!-- CSS -->
    <link rel="stylesheet" href="static/css/style.css" />
    <link rel="stylesheet" href="static/css/map.css" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.1.0/css/font-awesome.min.css" />

    <!-- Title -->
    <title>Health Measure Playground</title>
</head>

<body>
    <!--Navigator-->
    <nav class="navbar navbar-expand-lg fixed-top navbar-light bg-light">
        <a class="navbar-brand btn btn-outline-secondary" href="/">Home</a>

        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
            aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav ml-auto">
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle active" href="#" id="navbarDropdown" role="button"
                        data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        United States
                    </a>
                    <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                        <a class="dropdown-item" href="/united-states-mmr-affordable-care-act">MMR Data and Affordable
                            Care Act</a>
                        <a class="dropdown-item" href="/united-states-ranked-health-measure-comparison">Ranked Health
                            Measure Comparison</a>
                    </div>
                </li>
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle active" href="#" id="navbarDropdown" role="button"
                        data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        Machine Learning
                    </a>
                    <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                        <li class="dropdown-header">
                            <span>Models</span>
                        </li>
                        <li><a class="dropdown-item" href="/machine-learning-race-model">Race Based</a></li>
                        <li><a class="dropdown-item" href="/machine-learning-non-race-model">Non-Race Based</a></li>
                        <li>
                            <hr class="dropdown-divider">
                        </li>
                        <li class="dropdown-header">
                            <span>Predictions</span>
                        </li>
                        <li><a class="dropdown-item" href="/machine-learning-playground">Health Measure Playground</a></li>
                        <li><a class="dropdown-item" href="/machine-learning-forecast">10-Year US MMR Forecast</a></li>
                    </ul>
                </li>
                <li class="nav-item">
                    <a class="nav-link active" href="/news-articles">News and Articles</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link active" href="/methodology">Methodology</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link active" href="/about-us">About Us</a>
                </li>
            </ul>
        </div>
    </nav>

    <!-- Top Section -->
    <div id="header" class="container-fluid">
        <div class="row">
            <!-- Image Source: https://uclg-aspac.org/en/how-central-java-reduced-maternal-mortality-health-jateng-gayeng-nginceng-wong-meteng/ -->
            <div class="col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12 col-xxl-12" id="header-bg">
                <p id="cite">&copy; United Cities and Local Governments Asia Pacific (UCLG ASPAC)</p>
            </div>
            <div class="col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12 col-xxl-12 text-center">
                <h1>Health Measure Playground</h1>
                <h6>Predict MMR for a Population in the U.S. Given Top-5 Determinant Health Measures</h6>
            </div>
        </div>
    </div>

    <!-- Main Section -->
    <div id="main-container" class="container">
        <div class="row">
            <div class="col-md-4 col-sm-12">
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h1 class="panel-title"><strong>
                                <div align="center">
                                    <font size="+1">Health Measure Information</font>
                                </div>
                            </strong></h1>
                    </div>

                    <div class="panel-body">

                        <form id="mmr-forecast-form" method="POST" class="form-horizontal" action="/api/user-forecast"
                            role="form" name="userInput">
                            <div class="form-group">
                                <label class="col-auto control-label" for="diabetes"><b>Diabetes:</b></label>
                                <div class="col-auto">
                                    <input type="number" min=0 step="any" class="form-control" id="diabetes"
                                        name="diabetes" placeholder="Enter a value (average = 9.7)">
                                </div>
                            </div>

                            <div class="form-group">
                                <label class="col-auto control-label" for="prem_death"><b>Premature Death:</b></label>
                                <div class="col-auto">
                                    <input type="number" min=0 step="any" class="form-control" id="prem_death"
                                        name="prem_death" placeholder="Enter a value (average = 7,546)">
                                </div>
                            </div>

                            <div class="form-group">
                                <label class="col-auto control-label" for=" phys_inac"><b>Physical
                                        Inactivity:</b></label>
                                <div class="col-auto">
                                    <input type="number" min=0 step="any" class="form-control" id="phys_inac"
                                        name="phys_inac" placeholder="Enter a value (average = 24.6)">
                                </div>
                            </div>

                            <div class="form-group">
                                <label class="col-auto control-label" for=" low_birthweight"><b>Low
                                        Birthweight:</b></label>
                                <div class="col-auto">
                                    <input type="number" min=0 step="any" class="form-control" id="low_birthweight"
                                        name="low_birthweight" placeholder="Enter a value (average = 8.1)">
                                </div>
                            </div>

                            <div class="form-group">
                                <label class="col-auto control-label" for="health_stat_fem"><b>Health Status
                                        Female:</b></label>
                                <div class="col-auto">
                                    <input type="number" min=0 step="any" class="form-control" id="health_stat_fem"
                                        name="health_stat_fem" placeholder="Enter a value (average = 52.1)">
                                </div>
                            </div>


                            <br><br>

                            <div class="form-group">
                                <div id="playground-btns">
                                    <button class="btn btn-warning" type="submit">Predict MMR</button>
                                    <button class="btn btn-warning" type="reset" value="Reset">Reset</button>
                                </div>
                            </div>
                    </div>
                    </form>
                </div>
            </div>
            <div class="col-md-8 col-sm-12 d-flex align-items-center">
                <div id="user_graph"></div>
            </div>
        </div>
        <div class="row">
            <div class="col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12 col-xxl-12">
                <h3>Summary</h3>
                <hr>
                <div id="overview">
                    <p>
                        The MMR presented in the graph above is based on averages of public health measures from the
                        years 2009-2019. The interactive form allows users to input their own values for public health 
                        measures to explore a measure's effect on MMR. The table below shows possible values for health measures
                        that users might consider entering.
                    </p>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12 col-xxl-12">
                <div class="table-responsive">
                    <table class="table align-middle table-striped table-hover table-borderless w-auto">
                        <thead>
                            <tr>
                                <th class="col-auto" scope="col">Health Measure</th>
                                <th class="col-auto" scope="col">Description</th>
                                <th class="col-auto" scope="col">Minimum</th>
                                <th class="col-auto" scope="col">Average</th>
                                <th class="col-auto" scope="col">Maximum</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <th scope="row" class="text-nowrap">Diabetes</th>
                                <td class="text-left">Percentage of adults who reported being told they have
                                    diabetes.</td>
                                <td class="text-center">5.3</td>
                                <td class="text-center">9.7</td>
                                <td class="text-center">16.2</td>
                            </tr>
                            <tr>
                                <th scope="row" class="text-nowrap">Premature Death</th>
                                <td class="text-left">Number of years of potential life lost before age 75 per
                                    100,000 population.</td>
                                <td class="text-center">5,345</td>
                                <td class="text-center">7,546</td>
                                <td class="text-center">11,485</td>
                            </tr>
                            <tr>
                                <th scope="row" class="text-nowrap">Physical Inactivity</th>
                                <td class="text-left">Percentage of adults who reported no physical activity or
                                    exercise other than their job in the past 30 days.</td>
                                <td class="text-center">15.7</td>
                                <td class="text-center">24.6</td>
                                <td class="text-center">38.1</td>
                            </tr>
                            <tr>
                                <th scope="row" class="text-nowrap">Low Birthweight</th>
                                <td class="text-left">Percentage of infants weighing less than 2,500 grams.</td>
                                <td class="text-center">5.6</td>
                                <td class="text-center">8.1</td>
                                <td class="text-center">12.3</td>
                            </tr>
                            <tr>
                                <th scope="row" class="text-nowrap">High Health Status - Female</th>
                                <td class="text-left">Percentage of females who reported their health as very
                                    good or excellent.</td>
                                <td class="text-center">39.3</td>
                                <td class="text-center">52.1</td>
                                <td class="text-center">64.1</td>
                            </tr>
                        </tbody>
                    </table>
                    <div class="row">
                        <span class="caption col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12 col-xxl-12">
                            <b>Note:</b> All terms and description bases on <a
                            href="https://www.americashealthrankings.org/learn/reports/2019-health-of-women-and-children-report"
                            target="_blank">2019 HWC Report</a> (unless otherwise stated in description). The most recent data available are used. For some measures, multiple years of data are combined to have sufficient sample size <a href="https://www.americashealthrankings.org/about/methodology/rankings"
                            target="_blank">(America's Health Rankings, 2021)</a>.
                        </span>
                    </div>
                </div>
            </div>
        </div>          
    </div>
    <!--Footer-->
    <footer>
        <div class="footer">
            &copy; <a>COPYRIGHT UNC BOOT CAMP 2020</a> &copy;
        </div>
    </footer>


    <!-- D3 JS -->
    <script src="static/js/d3/d3.v6.min.js"></script>

    <!-- Plot.ly -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/d3/5.5.0/d3.js"></script>
    <script src="https://cdn.plot.ly/plotly-latest.min.js"></script>

    <!-- BootStrap JS -->
    <script src="static/js/jquery/jquery-3.5.1.slim.min.js"></script>
    <script src="static/js/popper/popper.min.js"></script>
    <script src="static/js/bootstrap/bootstrap.bundle.min.js"></script>

    <!-- JS -->
    <script src="static/js/user-forecast.js"></script>

</body>

</html>