<!DOCTYPE html>

<html lang="en">

<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- BootStrap CSS -->
    <link rel="stylesheet" href="static/css/bootstrap/bootstrap.bundle.min.css" />

    <!-- AnyChart CSS -->
    <link rel="stylesheet" href="static/css/anychart/anychart-ui.min.css" />
    <link rel="stylesheet" href="https://cdn.anychart.com/releases/v8/fonts/css/anychart-font.min.css" />

    <!-- CSS -->
    <link rel="stylesheet" href="static/css/style.css" />
    <link rel="stylesheet" href="static/css/map.css" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.1.0/css/font-awesome.min.css" />

    <!-- Title -->
    <title>Race Based Machine Learning Models</title>
</head>

<body>
    <!--Navigator-->
    <nav class="navbar navbar-expand-lg fixed-top navbar-light bg-light">
        <a class="navbar-brand btn btn-outline-secondary" href="/">Home</a>

        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
            aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav ml-auto">
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle active" href="#" id="navbarDropdown" role="button"
                        data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        United States
                    </a>
                    <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                        <a class="dropdown-item" href="/united-states-mmr-affordable-care-act">MMR Data and Affordable
                            Care Act</a>
                        <a class="dropdown-item" href="/united-states-ranked-health-measure-comparison">Ranked Health
                            Measure Comparison</a>
                    </div>
                </li>
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle active" href="#" id="navbarDropdown" role="button"
                        data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        Machine Learning
                    </a>
                    <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                        <li class="dropdown-header">
                            <span>Models</span>
                        </li>
                        <li><a class="dropdown-item" href="/machine-learning-race-model">Race Based</a></li>
                        <li><a class="dropdown-item" href="/machine-learning-non-race-model">Non-Race Based</a></li>
                        <li>
                            <hr class="dropdown-divider">
                        </li>
                        <li class="dropdown-header">
                            <span>Predictions</span>
                        </li>
                        <li><a class="dropdown-item" href="/machine-learning-playground">Health Measure Playground</a>
                        </li>
                        <li><a class="dropdown-item" href="/machine-learning-forecast">10-Year US MMR Forecast</a></li>
                    </ul>
                </li>
                <li class="nav-item">
                    <a class="nav-link active" href="/news-articles">News and Articles</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link active" href="/methodology">Methodology</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link active" href="/about-us">About Us</a>
                </li>
            </ul>
        </div>
    </nav>

    <!-- Top Section -->
    <div id="header" class="container-fluid">
        <div class="row">
            <!-- Image Source: https://uclg-aspac.org/en/how-central-java-reduced-maternal-mortality-health-jateng-gayeng-nginceng-wong-meteng/ -->
            <div class="col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12 col-xxl-12" id="header-bg">
                <p id="cite">&copy; United Cities and Local Governments Asia Pacific (UCLG ASPAC)</p>
            </div>
            <div class="col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12 col-xxl-12 text-center">
                <h1>Race Based Machine Learning Models</h1>
                <h6>Understand how Machine Learning Models Fit Race-Inclusive US MMR Data</h6>
            </div>
        </div>
    </div>

    <!-- Main Section -->
    <div id="main-container" class="container">
        <div class="row">
            <div class="col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12 col-xxl-12">
                <h3>Overview</h3>
                <hr>
                <div class="overview">
                    <p>
                        After visualizing maternal mortality ratio (MMR) data from the United States and seeing
                        disparities among states in insurance coverage and health measures, we decided to apply machine
                        learning to the problem. It was clear from initial research that racial and ethnic disparities
                        existed, so we collected two datasets: one that utilized MMR data stratified by race, and
                        another that included MMR data for all races and also included insurance status and 26 different
                        health measures. We then trained and tested a variety of models before choosing the
                        top-performing models for each subset of data.
                    </p>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12 col-xxl-12">
                <h3>Linear Regression Model</h3>
                <hr>
                <div class="overview">
                    <p>
                        For our dataset stratified by race and ethnicity, we built a linear regression
                        model.
                    </p>
                    <p>
                        We collected publicly available United States mortality data from the CDC Wonder site,
                        selecting for ICD codes A34 (Obstetrical tetanus) and O00 to O99 (Chapter XV Pregnancy,
                        childbirth, and the puerperium), which captures maternal deaths owing to obstetrical
                        tetanus, maternal deaths up to 42 days after delivery, and late maternal deaths (up to a
                        year following the termination of a pregnancy). One limitation of publicly available
                        mortality data from CDC Wonder site is that the API suppresses data points with death counts of
                        nine or fewer. As a result,
                        only four racial and ethnic groups are represented in our dataset, and some groups are
                        missing data for some years in our range of 2009-2019.
                    </p>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-6 col-sm-6 col-md-6 col-lg-6 col-xl-6 col-xxl-6">
                <a target="_blank" href="../static/img/avg_mmr_af_amer.png"><img class="img-fluid"
                        src="../static/img/avg_mmr_af_amer.png" alt="Average MMR African American"></a>
            </div>
            <div class="col-6 col-sm-6 col-md-6 col-lg-6 col-xl-6 col-xxl-6">
                <a target="_blank" href="../static/img/avg_mmr_white.png"><img class="img-fluid"
                        src="../static/img/avg_mmr_white.png" alt="Average MMR White Not Hispanic"></a>
            </div>
        </div>
        <div class="row">
            <div class="col-6 col-sm-6 col-md-6 col-lg-6 col-xl-6 col-xxl-6">
                <a target="_blank" href="../static/img/avg_mmr_hispanic.png"><img class="img-fluid"
                        src="../static/img/avg_mmr_hispanic.png" alt="Average MMR White Hispanic"></a>
            </div>
            <div class="col-6 col-sm-6 col-md-6 col-lg-6 col-xl-6 col-xxl-6">
                <a target="_blank" href="../static/img/avg_mmr_asian.png"><img class="img-fluid"
                        src="../static/img/avg_mmr_asian.png" alt="Average MMR Asian or Pacific Islander"></a>
            </div>
        </div>

        <div class="row">
            <div class="col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12 col-xxl-12">
                <p>
                    Our data shows the wide racial and ethnic gaps in MMR in the United States. MMR
                    was at least twice as high for Black or African American women compared to other groups.
                </p>
                <hr>
            </div>
        </div>
        <div class="row">
            <div class="col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12 col-xxl-12">
                <p>
                    In the heatmap below, we can see strong positive correlations (likely to
                    indicate higher MMR) for Black or African American women, and negative
                    correlations (likely to indicate lower MMR) for White women.
                </p>
            </div>
        </div>
        <div class="row">
            <div class="col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12 col-xxl-12">
                <a target="_blank" href="../static/img/heatmap_mmr_strat_by_race.png"><img class="img-fluid"
                        src="../static/img/heatmap_mmr_strat_by_race.png" alt="Heatmap Stratified by Race"></a>
            </div>
        </div>


        <div class="row">
            <div class="col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12 col-xxl-12">
                <hr>
                <a target="_blank" href="../static/img/boxplot_mmr_strat_by_race.png"><img class="img-fluid"
                        src="../static/img/boxplot_mmr_strat_by_race.png" alt="Boxplot Stratified by Race"></a>
            </div>
        </div>
        <div class="row">
            <div class="col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12 col-xxl-12">
                <p>
                    We knew from earlier exploratory analysis that our data had outliers. We
                    experimented with scaling our data using StandardScaler, best for outliers, and
                    fit our model again, but the resulting R-squared score was slightly lower. Our highest
                    scoring linear regression model with data stratified by race was with
                    non-scaled data. This model used each of our race and hispanic origin categories and
                    population data stratified by race. Our R-squared scores for this model were 0.56 on
                    our testing data and were 0.59 on our training data.
                </p>
            </div>
        </div>
        



        <div class="row">
            <div class="col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12 col-xxl-12">
                <h3>Logistic Regression Model</h3>
                <hr>
            </div>
        </div>

        <div class="row">
            <div class="col-12 col-sm-12 col-md-7 col-lg-7 col-xl-7 col-xxl-7">
                <p>
                    After running linear regression models, we tried logistic regression, converting
                    our y-value (MMR) to categorical.
                </p>
                <p>
                    We binned our MMR data stratified by race into three categories:
                <ul>
                    <li>Low (MMR less than or equal to 20)</li>
                    <li>Medium (MMR greater than 20 and less than or equal to 50)</li>
                    <li>High (MMR greater than 50)</li>
                </ul>
                </p>
                <p>
                    Our R-squared scores for this model were 0.59 on our testing data and were 0.75 on our
                    training data. The confusion matrix shows that identifying MMR data points
                    as "medium" risk was most successful, followed by appropriately identifying data points as
                    "high" risk.
                </p>
            </div>
            <div class="col-12 col-sm-12 col-md-5 col-lg-5 col-xl-5 col-xxl-5">
                <a target="_blank" href="../static/img/confusion_matrix_strat_by_race.png"><img class="img-fluid"
                        src="../static/img/confusion_matrix_strat_by_race.png"
                        alt="Confusion Matrix Stratified by Race"></a>
            </div>
        </div>

        <div class="row">
            <div class="col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12 col-xxl-12">
                <h3>Summary</h3>
                <hr>
                <div class="overview">
                    <p>
                        The CDC estimates that 60% of maternal deaths in the U.S. are preventable (NMMRC, 2018). And the
                        Pregnancy Mortality Surveillance System reports that the variability in the risk of death by
                        race and ethnicity may be due to several factors including access to care, quality of care,
                        prevalence of chronic diseases, structural racism, and implicit biases (PMSS, 2021).
                    </p>
                    <p>
                        Our research showed that there are wide disparities in MMR by race and
                        ethnicity, and we were interested in looking closely at possible factors that could be contributing
                        to that disparity. We moved forward with our <a
                            href="/machine-learning-non-race-model">dataset and models</a> that included features such
                        as access to care. 
                    </p>
                    <p>
                        We encourage visitors of our website to see an application of our race based machine learning models on the
                        <a
                            href="/machine-learning-forecast">10-Year US MMR Forecast page</a>.
                    </p>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12 col-xxl-12">
                <h3>Reference</h3>
                <hr>
                <div class="reference">
                    <p>
                        Report from Nine Maternal Mortality Review Committees. (2018) <a
                            href="https://reviewtoaction.org/sites/default/files/national-portal-material/Report%20from%20Nine%20MMRCs%20final_0.pdf"
                            target="_blank"><em>Building U.S. capacity to review and prevent
                                maternal deaths</em></a>. Review to Action.
                        https://reviewtoaction.org/sites/default/files/national-portal-material/Report%20from%20Nine%20MMRCs%20final_0.pdf
                    </p>
                    <p>
                        CDC. (2021) <a
                            href="https://www.cdc.gov/reproductivehealth/maternal-mortality/pregnancy-mortality-surveillance-system.htm"
                            target="_blank"><em>Pregnancy-Related Deaths by Race/Ethnicity</em></a>. Pregnancy Mortality
                        Surveillance System.
                        https://www.cdc.gov/reproductivehealth/maternal-mortality/pregnancy-mortality-surveillance-system.htm
                    </p>
                </div>
            </div>
        </div>






    </div>

    <!--Footer-->
    <footer>
        <div class="footer">
            &copy; <a>COPYRIGHT UNC BOOT CAMP 2020</a> &copy;
        </div>
    </footer>

    <!-- BootStrap JS -->
    <script src="static/js/jquery/jquery-3.5.1.slim.min.js"></script>
    <script src="static/js/popper/popper.min.js"></script>
    <script src="static/js/bootstrap/bootstrap.bundle.min.js"></script>

    <!-- JS -->

</body>

</html>