<!DOCTYPE html>

<html lang="en">

<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- BootStrap CSS -->
    <link rel="stylesheet" href="static/css/bootstrap/bootstrap.bundle.min.css" />

    <!-- AnyChart CSS -->
    <link rel="stylesheet" href="static/css/anychart/anychart-ui.min.css" />
    <link rel="stylesheet" href="https://cdn.anychart.com/releases/v8/fonts/css/anychart-font.min.css" />

    <!-- CSS -->
    <link rel="stylesheet" href="static/css/style.css" />
    <link rel="stylesheet" href="static/css/map.css" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.1.0/css/font-awesome.min.css" />

    <!-- Title -->
    <title>Machine Learning Playground</title>
</head>

<body>
    <!--Navigator-->
    <nav class="navbar navbar-expand-lg fixed-top navbar-light bg-light">
        <a class="navbar-brand btn btn-outline-secondary" href="/">Home</a>

        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
            aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav ml-auto">
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle active" href="#" id="navbarDropdown" role="button"
                        data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        United States
                    </a>
                    <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                        <a class="dropdown-item" href="/united-states-mmr-affordable-care-act">MMR & Affordable Care
                            Act</a>
                        <a class="dropdown-item" href="/united-states-ranked-health-measure-comparison">Ranked Health
                            Measure Comparison</a>
                    </div>
                </li>
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle active" href="#" id="navbarDropdown" role="button"
                        data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        Machine Learning
                    </a>
                    <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                        <a class="dropdown-item" href="/machine-learning-model">Models</a>
                        <a class="dropdown-item" href="/machine-learning-playground">Playground</a>
                        <a class="dropdown-item" href="/machine-learning-forecast">10-Year Forecast</a>
                    </div>
                </li>
                <li class="nav-item">
                    <a class="nav-link active" href="/news-articles">News and Articles</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link active" href="/methodology">Methodology</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link active" href="/about-us">About Us</a>
                </li>
            </ul>
        </div>
    </nav>

    <!-- Top Section -->
    <div id="header" class="container-fluid">
        <div class="row">
            <!-- Image Source: https://uclg-aspac.org/en/how-central-java-reduced-maternal-mortality-health-jateng-gayeng-nginceng-wong-meteng/ -->
            <div class="col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12 col-xxl-12" id="header-bg">
                <p id="cite">&copy; United Cities and Local Governments Asia Pacific (UCLG ASPAC)</p>
            </div>
            <div class="col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12 col-xxl-12 text-center">
                <h1>Machine Learning Playground</h1>
                <h6>Forecast MMR for a Population Given Top-5 Determinate Health Outcomes</h6>
            </div>
        </div>
    </div>

    <!-- Main Section -->
    <div id="main-container" class="container">
        <div class="row">
            <div class="col-md-4 col-sm-12">
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h1 class="panel-title"><strong>
                                <div align="center">
                                    <font size="+1">Health Outcome Information</font>
                                </div>
                            </strong></h1>
                    </div>

                    <div class="panel-body">

                        <form id="mmr-forecast-form" method="POST" class="form-horizontal" action="/api/user-forecast"
                            role="form" name="userInput">
                            <div class="form-group">
                                <label class="col-auto control-label" for="diabetes"><b>Diabetes:</b></label>
                                <div class="col-auto">
                                    <input type="number" min=0 step="any" class="form-control" id="diabetes"
                                        name="diabetes" placeholder="Enter diabetes_val">
                                </div>
                            </div>

                            <div class="form-group">
                                <label class="col-auto control-label" for="prem_death"><b>Premature Death:</b></label>
                                <div class="col-auto">
                                    <input type="number" min=0 step="any" class="form-control" id="prem_death"
                                        name="prem_death" placeholder="Enter prem_death_val">
                                </div>
                            </div>

                            <div class="form-group">
                                <label class="col-auto control-label" for=" phys_inac"><b>Physical
                                        Inactivity:</b></label>
                                <div class="col-auto">
                                    <input type="number" min=0 step="any" class="form-control" id="phys_inac"
                                        name="phys_inac" placeholder="Enter phys_inac_val">
                                </div>
                            </div>

                            <div class="form-group">
                                <label class="col-auto control-label" for=" low_birthweight"><b>Low
                                        Birthweight:</b></label>
                                <div class="col-auto">
                                    <input type="number" min=0 step="any" class="form-control" id="low_birthweight"
                                        name="low_birthweight" placeholder="Enter low_birthweight_val">
                                </div>
                            </div>

                            <div class="form-group">
                                <label class="col-auto control-label" for=" obesity"><b>Obesity:</b>></label>
                                <div class="col-auto">
                                    <input type="number" min=0 step="any" class="form-control" id="obesity"
                                        name="obesity" placeholder="Enter obesity_val">
                                </div>
                            </div>


                            <br><br>

                            <div class="form-group">
                                <div class="col-auto">
                                    <button class="btn btn-warning" type="submit">Submit</button>
                                    <!-- <input type="submit" value="Forecast Maternal Mortality Ratio" class="btn btn-default"> -->
                                    <button class="btn btn-warning" type="reset" value="Reset">Reset</button>
                                </div>
                            </div>
                    </div>
                    </form>
                </div>
            </div>
            <div class="col-md-8 col-sm-12 d-flex align-items-center">
                <div id="user_graph"></div>
            </div>
        </div>
    </div>
    <!--Footer-->
    <footer>
        <div class="footer">
            &copy; <a>COPYRIGHT UNC BOOT CAMP 2020</a> &copy;
        </div>
    </footer>


    <!-- D3 JS -->
    <script src="static/js/d3/d3.v6.min.js"></script>

    <!-- Plot.ly -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/d3/5.5.0/d3.js"></script>
    <script src="https://cdn.plot.ly/plotly-latest.min.js"></script>

    <!-- BootStrap JS -->
    <script src="static/js/jquery/jquery-3.5.1.slim.min.js"></script>
    <script src="static/js/popper/popper.min.js"></script>
    <script src="static/js/bootstrap/bootstrap.bundle.min.js"></script>

    <!-- JS -->
    <script src="static/js/user-forecast.js"></script>

</body>

</html>