<!DOCTYPE html>

<html lang="en">

<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- BootStrap CSS -->
    <link rel="stylesheet" href="static/css/bootstrap/bootstrap.bundle.min.css" />

    <!-- AnyChart CSS -->
    <link rel="stylesheet" href="static/css/anychart/anychart-ui.min.css" />
    <link rel="stylesheet" href="https://cdn.anychart.com/releases/v8/fonts/css/anychart-font.min.css" />

    <!-- CSS -->
    <link rel="stylesheet" href="static/css/style.css" />
    <link rel="stylesheet" href="static/css/map.css" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.1.0/css/font-awesome.min.css" />

    <!-- Title -->
    <title>10-Year US MMR Forecast</title>
</head>

<body>
    <!--Navigator-->
    <nav class="navbar navbar-expand-lg fixed-top navbar-light bg-light">
        <a class="navbar-brand btn btn-outline-secondary" href="/">Home</a>

        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
            aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav ml-auto">
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle active" href="#" id="navbarDropdown" role="button"
                        data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        United States
                    </a>
                    <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                        <a class="dropdown-item" href="/united-states-mmr-affordable-care-act">MMR Data and Affordable
                            Care Act</a>
                        <a class="dropdown-item" href="/united-states-ranked-health-measure-comparison">Ranked Health
                            Measure Comparison</a>
                    </div>
                </li>
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle active" href="#" id="navbarDropdown" role="button"
                        data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        Machine Learning
                    </a>
                    <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                        <li class="dropdown-header">
                            <span>Models</span>
                        </li>
                        <li><a class="dropdown-item" href="/machine-learning-race-model">Race Based</a></li>
                        <li><a class="dropdown-item" href="/machine-learning-non-race-model">Non-Race Based</a></li>
                        <li>
                            <hr class="dropdown-divider">
                        </li>
                        <li class="dropdown-header">
                            <span>Predictions</span>
                        </li>
                        <li><a class="dropdown-item" href="/machine-learning-playground">Health Measure Playground</a>
                        </li>
                        <li><a class="dropdown-item" href="/machine-learning-forecast">10-Year US MMR Forecast</a></li>
                    </ul>
                </li>
                <li class="nav-item">
                    <a class="nav-link active" href="/news-articles">News and Articles</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link active" href="/methodology">Methodology</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link active" href="/about-us">About Us</a>
                </li>
            </ul>
        </div>
    </nav>

    <!-- Top Section -->
    <div id="header" class="container-fluid">
        <div class="row">
            <!-- Image Source: https://uclg-aspac.org/en/how-central-java-reduced-maternal-mortality-health-jateng-gayeng-nginceng-wong-meteng/ -->
            <div class="col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12 col-xxl-12" id="header-bg">
                <p id="cite">&copy; United Cities and Local Governments Asia Pacific (UCLG ASPAC)</p>
            </div>
            <div class="col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12 col-xxl-12 text-center">
                <h1>10-Year US MMR Forecast</h1>
                <h6>Forecast Future MMR in the United States Using Trained Machine Learning Models</h6>
            </div>
        </div>
    </div>

    <!-- Main Section -->
    <div id="main-container" class="container">

        <!-- Flowchart -->
        <div class="row">
            <div class="col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12 col-xxl-12">
                <h3>The Process of Forecasting</h3>
                <hr>
                <div id="overview">
                    <p>
                        The data forecasting flowchart below shows the process of data establishment in order to input
                        into a machine learning model to predict maternal mortality ratio (MMR) from 2020 to 2030.
                    </p>
                    <a href="static/img/ten_year_forecast_flowchart.png"><img width="100%"
                            src="static/img/ten_year_forecast_flowchart.png" /></a>
                    <span class="caption col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12 col-xxl-12">
                        <b>Note:</b> Flowchart of the process of creating the MMR 10-year forecast for both race and
                        non-race dataset.
                    </span>

                </div>
            </div>
        </div>

        <!-- 10-year Forecast -->
        <div class="row">
            <div class="col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12 col-xxl-12">
                <h3>Dataset Stratified by Non-Race and Non-Ethnicity Summary</h3>
                <hr>
                <p>
                    As the graph presented below, it shows maternal mortality ratio (MMR) from 2009 to 2030. MMR
                    from 2009 to 2019 is an average value across the
                    entire dataset grouped by year. MMR from 2020 to 2030 is calculated by machine learning linear
                    regression and time-series models based on health outcome, insurance coverage and
                    population factors which are calculated by time-series models. For both
                    time-series and linear regression (LR) models predict that
                    U.S.'s MMR will increase in the future. LR predicts MMR in 2030 at 45.2 which is approximately 26%
                    increased from average MMR 2019. Addition, Time-series has predicted the MMR lower than LR by 3% at
                    the year of 2030.
                </p>
                <div id="forecast_graph_non_race"></div>
            </div>
        </div>
        <div class="row">
            <div class="col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12 col-xxl-12">
                <h3>Dataset Stratified by Race and Ethnicity Summary</h3>
                <hr>
                <p>
                    As the graph presented below, it shows maternal mortality ratio (MMR) from 2009 to 2030 for each
                    race and ethnicity. MMR from 2009 to 2030 is an average value across the entire dataset grouped by
                    year, race and ethnicity. MMR from 2020 to 2030 is calculated by machine learning linear
                    regression models based on population by race and ethnicity which is calculated by time-series
                    model. The line graphs show that MMR for every race and ethnicity will decrease. However, there is
                    only one factor, population by race used to predict MMR. The population tends to increase at a
                    reduced rate.
                    That might be a reason for the decreasing of MMR for each race and ethnicity.
                </p>
                <div id="forecast_graph_race"></div>
            </div>
        </div>
        <div class="row">
            <div class="col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12 col-xxl-12">
                <h3>Forecast Summary</h3>
                <hr>
                <p>
                    The future prediction for each year for both data stratified or not stratified by race and ethnicity
                    shows the straight line because the predictions are calculated by linear regression models. The
                    models
                    have moderate accuracy of prediction (mentioned in the race and non-race model page). Therefore, the
                    outcome of model predictions are unsatisfactory.
                </p>
                <p>
                    If there are additional resources and sufficient time, more data from different sources; for
                    example, household income, number of maternal healthcare professionals, will be collected in order
                    to find any correlation to maternal deaths. Additionally, if more data is collected the possibility
                    of
                    finding the most significant factor will be higher. Eventually, there will be a policy in order to
                    decrease the maternal mortality event from happening in the future.
                </p>
            </div>
        </div>
    </div>


    <!--Footer-->
    <footer>
        <div class="footer">
            &copy; <a>COPYRIGHT UNC BOOT CAMP 2020</a> &copy;
        </div>
    </footer>

    <!-- D3 JS -->
    <script src="static/js/d3/d3.v6.min.js"></script>

    <!-- Plot.ly -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/d3/5.5.0/d3.js"></script>
    <script src="https://cdn.plot.ly/plotly-latest.min.js"></script>

    <!-- BootStrap JS -->
    <script src="static/js/jquery/jquery-3.5.1.slim.min.js"></script>
    <script src="static/js/popper/popper.min.js"></script>
    <script src="static/js/bootstrap/bootstrap.bundle.min.js"></script>

    <!-- JS -->
    <script src="static/js/ten_year_forecast.js"></script>

</body>

</html>