<!DOCTYPE html>

<html lang="en">

<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- BootStrap CSS -->
    <link rel="stylesheet" href="static/css/bootstrap/bootstrap.bundle.min.css" />

    <!-- AnyChart CSS -->
    <link rel="stylesheet" href="static/css/anychart/anychart-ui.min.css" />
    <link rel="stylesheet" href="https://cdn.anychart.com/releases/v8/fonts/css/anychart-font.min.css" />

    <!-- CSS -->
    <link rel="stylesheet" href="static/css/style.css" />
    <link rel="stylesheet" href="static/css/map.css" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.1.0/css/font-awesome.min.css" />

    <!-- Title -->
    <title>Non-Race Based Machine Learning Models</title>
</head>

<body>
    <!--Navigator-->
    <nav class="navbar navbar-expand-lg fixed-top navbar-light bg-light">
        <a class="navbar-brand btn btn-outline-secondary" href="/">Home</a>

        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
            aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav ml-auto">
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle active" href="#" id="navbarDropdown" role="button"
                        data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        United States
                    </a>
                    <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                        <a class="dropdown-item" href="/united-states-mmr-affordable-care-act">MMR Data and Affordable
                            Care Act</a>
                        <a class="dropdown-item" href="/united-states-ranked-health-measure-comparison">Ranked Health
                            Measure Comparison</a>
                    </div>
                </li>
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle active" href="#" id="navbarDropdown" role="button"
                        data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        Machine Learning
                    </a>
                    <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                        <li class="dropdown-header">
                            <span>Models</span>
                        </li>
                        <li><a class="dropdown-item" href="/machine-learning-race-model">Race Based</a></li>
                        <li><a class="dropdown-item" href="/machine-learning-non-race-model">Non-Race Based</a></li>
                        <li>
                            <hr class="dropdown-divider">
                        </li>
                        <li class="dropdown-header">
                            <span>Predictions</span>
                        </li>
                        <li><a class="dropdown-item" href="/machine-learning-playground">Health Measure Playground</a></li>
                        <li><a class="dropdown-item" href="/machine-learning-forecast">10-Year US MMR Forecast</a></li>
                    </ul>
                </li>
                <li class="nav-item">
                    <a class="nav-link active" href="/news-articles">News and Articles</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link active" href="/methodology">Methodology</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link active" href="/about-us">About Us</a>
                </li>
            </ul>
        </div>
    </nav>

    <!-- Top Section -->
    <div id="header" class="container-fluid">
        <div class="row">
            <!-- Image Source: https://uclg-aspac.org/en/how-central-java-reduced-maternal-mortality-health-jateng-gayeng-nginceng-wong-meteng/ -->
            <div class="col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12 col-xxl-12" id="header-bg">
                <p id="cite">&copy; United Cities and Local Governments Asia Pacific (UCLG ASPAC)</p>
            </div>
            <div class="col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12 col-xxl-12 text-center">
                <h1>Non-Race Based Machine Learning Models</h1>
                <h6>Understand how Machine Learning Models Fit Race-Exclusive US MMR Data</h6>
            </div>
        </div>
    </div>

    <!-- Main Section -->
    <div id="main-container" class="container">
        <div class="row" id="overview">
            <div class="col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12 col-xxl-12">
                <h3>Overview</h3>
                <hr>
                <p>
                    After visualizing maternal mortality ratio (MMR) data from the United States and seeing disparities
                    among states in insurance coverage and health measures, we decided to apply machine learning to the
                    problem. It was clear from initial research that racial and ethnic disparities existed, so we
                    collected two datasets: one that utilized MMR data stratified by race, and another that included MMR
                    data for all races and also included insurance status and 26 different health measures. We then
                    trained and tested a variety of models before choosing the top-performing models for each subset of
                    data.
                </p>
            </div>
        </div>

        <!-- Linear Regression Section -->
        <div class="row">
            <div class="col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12 col-xxl-12">
                <h3>Linear Regression Model</h3>
                <hr>
                <p>
                    We chose linear regression analysis, which is supervised machine learning, to create a model that examines the impact of various factors on maternal mortality ratio (MMR) irrespective of race. We determined correlations 
                    using linear regression analyses which indicated both positive and negative relationships.
                </p>
            </div>
        </div>
        <div class="row">
            <div class="col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12 col-xxl-12">
                <img class="img-fluid" src="../static/img/LR_Non_Race_heatmap2.png" alt="Heatmap">
            </div>
        </div>
        <div class="row">
            <div class="col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12 col-xxl-12">
                <p>
                    Based upon an initial heatmap which included all features, a second, more focused heatmap was
                    developed. In the focused heatmap pictured above, the analyses indicated that diabetes and premature death 
                    had the strongest positive correlations. Other important correlations included positive relationships 
                    with physical inactivity, obesity and low birth weight. Interestingly, medicare coverage also had a 
                    moderately strong correlation with MMR. High health status, which is the percentage of women who reported 
                    that their health is very good or excellent, had the strongest negative correlation in addition to higher 
                    weighted sums of all determinants and health outcomes from the national average. Dental visits also had a 
                    moderately strong negative correlation with MMR.
                </p>
                <hr>
            </div>
        </div>
        <div class="row">
            <div class="col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12 col-xxl-12">
                <img class="img-fluid " src="../static/img/MMR_Non_Race_Association.png" alt="Association Map">
            </div>
        </div>
        <div class="row">
            <div class="col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12 col-xxl-12">
                <p>The above figure graphically indicates the degree of positive and negative correlation that our linear model found between the most significant features and MMR. We applied another linear regression model with non-race based data and included only factors that had a correlation greater than 0.20, which suggest a moderate or greater association. But removing insignificant variables did not improve R-squared values for any other linear regression models.</p>
            </div>
        </div>

        <div class="row">
            <div class="col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12 col-xxl-12">
                <p>
                    <hr>
                    All features except birth and death were compared against MMR. R-squared for all the features was 0.54, 
                    which suggests that together the features only moderately predict the MMR outcome.
                    The training and the test scores for the linear regression were 0.54 and 0.36 respectively, 
                    which are moderately confident fits.
                </p>   
            </div>
        </div>
        <div class="row">
            <div class="col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12 col-xxl-12">
                <img class="img-fluid" src="../static/img/ML_flowchart-3.png" alt="ML Flowchart">
            </div>
        </div>
        <div class="row">
            <div class="col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12 col-xxl-12">
                <h3>Polynomial Regression Model</h3>
                <hr>
                <p> Further reduction in features in our linear models resulted in a slightly lowered R-squared (0.43), and 
                    by examining the features with the most positive and negative correlation with MMR, depicted in the figure below, 
                    it was determined that the data was non-linear. So, a polynomial regression was applied and the features were 
                    converted into polynomial feature at degree 2. Plotting the actual MMR, the linear regression MMR and
                    polynomial fit MMR demonstrated that the polynomial regression modeled the MMR relationship with the variables 
                    better than the linear regression model.
                </p>
            </div>
        </div>
        <div class="row">
            <div class="col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12 col-xxl-12">
                <img class="img-fluid" src="../static/img/Polynomial_LR_Fit.png" alt="Association Map">
            </div>
        </div>
        <div class="row">
            <div class="col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12 col-xxl-12">
                
            </div>
        </div>
        <div class="row">
            <div class="col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12 col-xxl-12">
                    <h3>Time Series Linear Model</h3>
                    <hr>
                    <p>The dataset was grouped by year and the average annual MMR was calculated for
                        2009 to 2019 and then used in the time-series forecast to calculate the average predicted rates.
                        A regression was performed by year and an R-squared of 0.74 was observed. Maternal mortality rate
                        predictions were then carried out for 2020 to 2030. Maternal mortality rates increased slowly
                        from 2009 to 2019, and based on the forecast, rates continue to increase at the same pace until 2030. <a
                            href="https://www.americashealthrankings.org/explore/health-of-women-and-children/measure/maternal_mortality_b">Healthy
                            People 2030’s goal</a> for maternal mortality rate is to reduce to 15.7
                        maternal deaths per 100,000
                        births, however our model suggests that in this time MMR will actually increase by 25% to approximately 44.
                    </p>
                    <p>
                        Clearly, the forecast depends on the variables continuing their current trend for the next 10
                        years. These can obviously change, and thus, alter the trajectory of the maternal mortality rates. If
                        rates of diabetes, which had the strongest correlation with MMR, were to decrease or even just
                        maintained due to effective interventions (e.g., change in dietary habits) then it is possible that the
                        forecast would not increase as much from 2020 to 2030. This also applies to changes in obesity
                        rates, physical inactivity, health status of women, and other factors like dental visits, all of
                        which could drastically impact MMR in the years to come.
                    </p>
            </div>
        </div>
        <div class="row">
            <div class="col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12 col-xxl-12">
                <img class="img-fluid" src="../static/img/Predictions_Barplot_to_2030.png" alt="Association Map">
            </div>
        </div>
        <div class="row">
            <div class="col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12 col-xxl-12">
                <h3>Neural Network/Deep Learning Model</h3>
                <hr>
                <p>
                    Given the nature of the data pulled, it was always more likely that a linear regression was the
                    better fit for the data but we wanted to attempt a neural network as well to see if anything surprising
                    happened. A similar process was used to prepare the data as with the linear regressions, then a base
                    sequential model was created, and using KerasRegressor and setting loss to mean squared error, various fits 
                    were explored. No matter the data portion that was input, and any number of hidden layers added, the mean squared 
                    error never was seen below 1,000, which was much worse than the linear models already created.
                </p>
            </div>
        </div>
        <div class="row">
            <div class="col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12 col-xxl-12">
                <img class="img-fluid" src="../static/img/neural_network_model.png" alt="Association Map">
            </div>
        </div>
        <div class="row">
            <div class="col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12 col-xxl-12">
                <h3>Reference</h3>
            <hr>
            <div class="reference">
                <p>
                    Health of Women and Children <a
                        href="https://www.americashealthrankings.org/explore/health-of-women-and-children/measure/maternal_mortality_b"
                        target="_blank"><em>Public Health Impact: Maternal Mortality</em></a> GOALS:
                    Healthy People 2030’s goal is to reduce the maternal mortality rate to 15.7 maternal deaths
                    per 100,000 live births. Link:
                    https://www.americashealthrankings.org/explore/health-of-women-and-children/measure/maternal_mortality_b
                </p>
            </div>
            </div>
        </div>
 
    </div>

    <!--Footer-->
    <footer>
        <div class="footer">
            &copy; <a>COPYRIGHT UNC BOOT CAMP 2020</a> &copy;
        </div>
    </footer>

    <!-- BootStrap JS -->
    <script src="static/js/jquery/jquery-3.5.1.slim.min.js"></script>
    <script src="static/js/popper/popper.min.js"></script>
    <script src="static/js/bootstrap/bootstrap.bundle.min.js"></script>

    <!-- JS -->

</body>

</html>