<!DOCTYPE html>

<html lang="en">

<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- BootStrap CSS -->
    <link rel="stylesheet" href="static/css/bootstrap/bootstrap.bundle.min.css" />

    <!-- CSS -->
    <link rel="stylesheet" href="static/css/style.css" />

    <!-- Title -->
    <title>Methodology</title>
</head>

<body>
    <!--Navigator-->
    <nav class="navbar navbar-expand-lg fixed-top navbar-light bg-light">
        <a class="navbar-brand btn btn-outline-secondary" href="/">Home</a>

        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
            aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav ml-auto">
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle active" href="#" id="navbarDropdown" role="button"
                        data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        United States
                    </a>
                    <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                        <a class="dropdown-item" href="/united-states-mmr-affordable-care-act">MMR & Affordable Care
                            Act</a>
                        <a class="dropdown-item" href="/united-states-ranked-health-measure-comparison">Ranked Health
                            Measure Comparison</a>
                    </div>
                </li>
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle active" href="#" id="navbarDropdown" role="button"
                        data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        Machine Learning
                    </a>
                    <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                        <li class="dropdown-header">
                            <span>Models</span>
                        </li>
                        <li><a class="dropdown-item" href="/machine-learning-race-model">Model Based Race</a></li>
                        <li><a class="dropdown-item" href="/machine-learning-non-race-model">Model Based
                                Non-Race</a>
                        </li>
                        <li>
                            <hr class="dropdown-divider">
                        </li>
                        <li><a class="dropdown-item" href="/machine-learning-playground">Playground</a></li>
                        <li><a class="dropdown-item" href="/machine-learning-forecast">10-Year Forecast</a></li>
                    </ul>
                </li>
                <li class="nav-item">
                    <a class="nav-link active" href="/news-articles">News and Articles</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link active" href="/methodology">Methodology</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link active" href="/about-us">About Us</a>
                </li>
            </ul>
        </div>
    </nav>

    <!-- Top Section -->
    <div id="header" class="container-fluid">
        <div class="row">
            <!-- Image Source: https://uclg-aspac.org/en/how-central-java-reduced-maternal-mortality-health-jateng-gayeng-nginceng-wong-meteng/ -->
            <div class="col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12 col-xxl-12" id="header-bg">
                <p id="cite">&copy; United Cities and Local Governments Asia Pacific (UCLG ASPAC)</p>
            </div>
            <div class="col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12 col-xxl-12 text-center">
                <h1>Maternal Mortality</h1>
                <h6>Explore the website to find out more!</h6>
            </div>
        </div>
    </div>

    <!-- Main Section -->
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="card text-dark bg-light mb-3">
                    <div class="card-header">ETL - Extract</div>
                    <div class="card-body">
                        <p class="card-text">
                        <ul>
                            <li>
                                <a href="https://data.unicef.org/topic/maternal-health/maternal-mortality/"
                                    target="_blank">UNICEF</a><br>Downloaded latest data for maternal mortality
                                worldwide (2017).
                            </li>
                            <li>
                                <a href="http://wonder.cdc.gov" target="_blank">Centers for Disease Control
                                    Wonder</a><br>Data on maternal deaths from 2009-19 in the US: death counts were
                                queried on specific ICD codes for maternal deaths up to 42 days after delivery and late
                                maternal deaths (defined by the WHO as death of a woman from direct or indirect
                                obstetric causes).
                            </li>
                            <li>
                                <a href="https://www.kff.org/other/state-indicator/health-insurance-coverage-of-nonelderly-adult-females/?currentTimeframe=0&sortModel=%7B%22colId%22:%22Location%22,%22sort%22:%22asc%22%7D"
                                    target="_blank">Kaiser Family Foundation</a><br>Health insurance coverage in the US
                                for females aged 19-64 in the years 2009-2019.
                            </li>
                            <li>
                                <a href="https://www.americashealthrankings.org/explore/annual/measure/Outcomes/state/ALL"
                                    target="_blank">America's Health Rankings: United Health Foundation</a><br>Report
                                for overall health of women and children for 2019 as well as overall health outcomes by
                                US state for years 2009-19.
                            </li>
                            <li>
                                <a href="https://cdn.anychart.com/samples/maps-general-features/world-choropleth-map/data.json"
                                    target="_blank">AnyChart Content Distribution Network: World</a><br>World choropleth
                                map and data JSON.
                            </li>
                            <li>
                                <a href="https://cdn.anychart.com/samples/maps-in-dashboard/states-of-united-states-dashboard-with-multi-select/data.json"
                                    target="_blank">AnyChart Content Distribution Network: United States</a><br>United
                                States choropleth map and data JSON.
                            </li>
                            <li>
                                <a href="https://www.thelancet.com/journals/langlo/article/PIIS2214-109X(14)70227-X/fulltext"
                                    target="_blank">The Lancet: Global Health</a><br>Global causes of maternal death:
                                a World Health Organization systematic analysis.
                            </li>
                        </ul>
                        </p>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <div class="card text-dark bg-light mb-3">
                    <div class="card-header">ETL - Transform</div>
                    <div class="card-body">
                        <p class="card-text">
                        <ul>
                            <li>
                                Using Jupyter Notebook/Pandas, read CSVs into dataframe format.
                            </li>
                            <li>
                                UNICEF: added columns in for latitude and longitude of the countries, based on location
                                column, split item into two parts and updated, removed unneeded columns.
                            </li>
                            <li>
                                CDC: merged seperate year dataframes on shared columns, and added additional columnn
                                calculating the maternal mortality ratio: maternal deaths per 100,000 live births.
                            </li>
                            <li>
                                Kaiser Family: removed null values, coverted needed values to percentages, built new
                                dataframes with an added column for years, and concatenated seperate dataframes into
                                one.
                            </li>
                            <li>
                                America's Health Rankings: reviewed data for relevant measures and eliminated others,
                                seperated demographic breakdowns where available into indiviudal CSVs, modified column
                                names to better load into PostGres.
                            </li>
                            <li>
                                The Lancet: Global Health: used Chrome table capture extension in order to capture the
                                table due to web permission which does not allow Chrome driver, removed space between
                                number in Excel and read in using Jupyter Notebook.
                            </li>
                        </ul>
                        </p>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <div class="card text-dark bg-light mb-3">
                    <div class="card-header">ETL - Load</div>
                    <div class="card-body">
                        <p class="card-text">
                        <ul>
                            <li>
                                Within Jupyter Notebook, exported cleaned CSVs into PostGres as tables in a unified
                                database.
                            </li>
                            <li>
                                Set an object and declare base in SQLAlchemy.
                            </li>
                            <li>
                                Created table schemes corresponding to the individual CSV files.
                            </li>
                            <li>
                                Created an engine and connection to the Postgres database and created the tables.
                            </li>
                            <li>
                                A similar process was followed to create a local database: connection was made to SQLite
                                file, tables were specified to be loaded, created, and binded to the local database.
                            </li>
                        </ul>
                        </p>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <div class="card text-dark bg-light mb-3">
                    <div class="card-header">Machine Learning - Model Creation & Selection</div>
                    <div class="card-body">
                        <p class="card-text">
                        <ul>
                            <li>
                                Data was split into two main subsets for training models, one utilizing data stratified
                                by race,
                                and another using data that did not include any racial breakdowns.
                            </li>
                            <li>
                                Created and tested a variety of models, including Linear Regression, Neural Network,
                                Ridge,
                                Lasso, and Logistic Regression, for one or both both datasets.
                            </li>
                            <li>
                                Initially, the model type with the highest R-squared values for both training datasets
                                were the Linear Regression
                                models. We chose to move forward with optimizing those models.
                            </li>
                            <li>
                                Created visualizations, performed feature selection, and continued to train and tune the
                                models. For the race-stratified data,
                                Linear Regression continued to be the highest performing, but for the non-race data,
                                Plynomial Regression based on the initial Linear
                                Regression analysis proved to be even more accurate.
                            </li>
                            <li>
                                Saved the top-preforming models, then used the saved models to run predictions, and for
                                the interactive Playground feature.
                            </li>
                        </ul>
                        </p>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <div class="card text-dark bg-light mb-3">
                    <div class="card-header">Machine Learning - User Self-Input (Playground)</div>
                    <div class="card-body">
                        <p class="card-text">
                        <ul>
                            <li>Built to take user input for several values, selected by

                            </li>
                            <li>Compares the user-input values to

                            </li>
                            <li>

                            </li>
                            <li>

                            </li>
                            <li>

                            </li>
                        </ul>
                        </p>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <div class="card text-dark bg-light mb-3">
                    <div class="card-header">Machine Learning - Prediction</div>
                    <div class="card-body">
                        <p class="card-text">
                        <ul>
                            <li>

                            </li>
                            <li>

                            </li>
                            <li>

                            </li>
                            <li>

                            </li>
                            <li>

                            </li>
                        </ul>
                        </p>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <div class="card text-dark bg-light mb-3">
                    <div class="card-header">Data Exploration</div>
                    <div class="card-body">
                        <p class="card-text">
                        <ul>
                            <li>
                                The US has a unique place within peer countries for outcomes of women's overall and
                                maternal health due to a variety of factors.
                            </li>
                            <li>
                                There are specific challenges related to the US's healthcare system that could lead to
                                difficulties caring for its population, particularly women.
                            </li>
                            <li>
                                It was hypothesized that insurance coverage could affect health, and specifically
                                women's health.
                            </li>
                            <li>
                                The period of 2009-19 was selected due to two specific changes in policy during this
                                time period: in 2010 coverage was allowed for dependents up to age 26 and in 2014 the
                                Affordable Care Act was implented with expansion of Medicaid coverage made available to
                                the states.
                            </li>
                            <li>
                                Other health factors were also considered and investigated in order to evaluate
                                insurance coverage's relative importance within the US health system.
                            </li>
                            <li>
                                It is also important to remember there are some differences in reporting over time
                                including between 2003 and 2017, states were incrementally implementing pregnancy
                                checkbox on death certificates with universal implementation by 2017.
                            </li>
                        </ul>
                        </p>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <div class="card text-dark bg-light mb-3">
                    <div class="card-header">Data Limitation</div>
                    <div class="card-body">
                        <p class="card-text">
                        <ul>
                            <li>

                            </li>
                            <li>

                            </li>
                            <li>

                            </li>
                            <li>

                            </li>
                            <li>

                            </li>
                            <li>

                            </li>
                        </ul>
                        </p>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <div class="card text-dark bg-light mb-3">
                    <div class="card-header">APIs</div>
                    <div class="card-body">
                        <p class="card-text">
                            <li>
                                <a href="/api/mmr-global" target="_blank">Maternal Mortality Rate: Global</a>
                            </li>
                            <li>
                                <a href="/api/mmr-us" target="_blank">Maternal Mortality Rate: United States</a>
                            </li>
                            <li>
                                <a href="/api/causes-of-deaths" target="_blank">WHO: Cause of Death</a>
                            </li>
                            <li>
                                <a href="/api/ins-us" target="_blank">United States Insurance Type Percentages</a>
                            </li>
                            <li>
                                <a href="/api/state-health-rank" target="_blank">State Health Rankings 2009-19</a>
                            </li>
                            <li>
                                <a href="/api/hwc" target="_blank">Health of Women and Children</a>
                            </li>
                            <li>
                                <a href="/api/race-data" target="_blank">United States MMR based on Race and Hispanic
                                    Origin</a>
                            </li>
                            <li>
                                <a href="/api/non-race-data" target="_blank">United States MMR based on Non-Race</a>
                            </li>
                            </ul>
                        </p>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <div class="card text-dark bg-light mb-3">
                    <div class="card-header">Flask Web Application</div>
                    <div class="card-body">
                        <p class="card-text">
                        <ul>
                            <li>
                                Web application is deployed on Heroku: <a
                                    href="https://maternal-mortality-project.herokuapp.com/">Maternal Mortality Heroku
                                    App</a>
                            </li>
                            <li>
                                Source code is available on GitHub: <a
                                    href="https://github.com/abpuccini/project2-maternal-mortality"
                                    target="_blank">GitHub Source Code</a>
                            </li>
                        </ul>
                        </p>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <div class="card text-dark bg-light mb-3">
                    <div class="card-header">Libraries and Tools</div>
                    <div class="card-body">

                        <p>
                            <a href="http://www.python.org" target="_blank">Python</a>
                            <span> | </span>
                            <a href="http://www.javascript.com" target="_blank">Javascript</a>
                            <span> | </span>
                            <a href="https://www.postgresql.org/" target="_blank">PostgreSQL</a>
                            <span> | </span>
                            <a href="https://pandas.pydata.org/" target="_blank">Pandas</a>
                            <span> | </span>
                            <a href="https://jupyter.org/" target="_blank">Jupyter Notebook</a>
                            <span> | </span>
                            <a href="https://flask.palletsprojects.com/en/1.1.x/" target="_blank">Flask</a>
                            <span> | </span>
                            <a href="https://www.sqlalchemy.org/" target="_blank">SQLAlchemy</a>
                            <span> | </span>
                            <a href="https://plotly.com/" target="_blank">Plotly</a>
                            <span> | </span>
                            <a href="https://getbootstrap.com/" target="_blank">Bootstrap</a>
                            <span> | </span>
                            <a href="https://www.anychart.com/products/anychart/overview/" target="_blank">AnyChart</a>
                            <span> | </span>
                            <a href="https://chrome.google.com/webstore/detail/table-capture/iebpjdmgckacbodjpijphcplhebcmeop?hl=en"
                                target="_blank">Chrome Table Capture</a>
                        </p>
                    </div>
                </div>
            </div>

        </div>
    </div>
    </div>

    <!--Footer-->
    <footer>
        <div class="footer">
            &copy; <a>COPYRIGHT UNC BOOT CAMP 2020</a> &copy;
        </div>
    </footer>

    <!-- BootStrap JS -->
    <script src="static/js/jquery/jquery-3.5.1.slim.min.js"></script>
    <script src="static/js/popper/popper.min.js"></script>
    <script src="static/js/bootstrap/bootstrap.bundle.min.js"></script>
</body>

</html>