<!DOCTYPE html>

<html lang="en">

<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- BootStrap CSS -->
    <link rel="stylesheet" href="static/css/bootstrap/bootstrap.bundle.min.css" />

    <!-- AnyChart CSS -->
    <link rel="stylesheet" href="static/css/anychart/anychart-ui.min.css" />
    <link rel="stylesheet" href="https://cdn.anychart.com/releases/v8/fonts/css/anychart-font.min.css" />

    <!-- CSS -->
    <link rel="stylesheet" href="static/css/style.css" />
    <link rel="stylesheet" href="static/css/map.css" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.1.0/css/font-awesome.min.css" />

    <!-- Title -->
    <title>News Articles</title>
</head>

<body>
    <!--Navigator-->
    <nav class="navbar navbar-expand-lg fixed-top navbar-light bg-light">
        <a class="navbar-brand btn btn-outline-secondary" href="/">Home</a>

        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
            aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav ml-auto">
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle active" href="#" id="navbarDropdown" role="button"
                        data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        United States
                    </a>
                    <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                        <a class="dropdown-item" href="/united-states-mmr-affordable-care-act">MMR Data and Affordable
                            Care Act</a>
                        <a class="dropdown-item" href="/united-states-ranked-health-measure-comparison">Ranked Health
                            Measure Comparison</a>
                    </div>
                </li>
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle active" href="#" id="navbarDropdown" role="button"
                        data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        Machine Learning
                    </a>
                    <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                        <li class="dropdown-header">
                            <span>Models</span>
                        </li>
                        <li><a class="dropdown-item" href="/machine-learning-race-model">Race Based</a></li>
                        <li><a class="dropdown-item" href="/machine-learning-non-race-model">Non-Race Based</a></li>
                        <li>
                            <hr class="dropdown-divider">
                        </li>
                        <li class="dropdown-header">
                            <span>Predictions</span>
                        </li>
                        <li><a class="dropdown-item" href="/machine-learning-playground">Health Measure Playground</a>
                        </li>
                        <li><a class="dropdown-item" href="/machine-learning-forecast">10-Year US MMR Forecast</a></li>
                    </ul>
                </li>
                <li class="nav-item">
                    <a class="nav-link active" href="/news-articles">News and Articles</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link active" href="/methodology">Methodology</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link active" href="/about-us">About Us</a>
                </li>
            </ul>
        </div>
    </nav>

    <!-- Top Section -->
    <div id="top-header" class="container-fluid">
        <div class="row">
            <!-- Image Source: https://uclg-aspac.org/en/how-central-java-reduced-maternal-mortality-health-jateng-gayeng-nginceng-wong-meteng/ -->
            <div class="col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12 col-xxl-12" id="header-bg">
                <p id="cite">&copy; United Cities and Local Governments Asia Pacific (UCLG ASPAC)</p>
            </div>
            <div class="col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12 col-xxl-12 text-center">
                <h1>News and Articles</h1>
                <h6>Discover Maternal Mortality News and Articles</h6>
            </div>
        </div>
    </div>

    <!-- Main Section -->
    <div id="main-news-container" class="container">
        <div class="row">
            <div class="col-sm-12 col-md-4 d-flex justify-content-center">
                <div class="card" style="width: 18rem; height: 19rem;">
                    <img src="https://www.nichd.nih.gov/sites/default/files/2019-03/maternalmortality_banner.jpg"
                        class="card-img-top img-fluid" alt="News">
                    <div class="card-body">
                        <h5 class="card-title">What are examples and causes of maternal morbidity and mortality?</h5>
                        <a target="_blank"
                            href="https://www.nichd.nih.gov/health/topics/maternal-morbidity-mortality/conditioninfo/causes"
                            class="btn btn-warning">Read More...</a>
                    </div>
                </div>
            </div>
            <div class="col-sm-12 col-md-4 d-flex justify-content-center">
                <div class="card" style="width: 18rem; height: 19rem;">
                    <img src="https://static01.nyt.com/images/2019/02/27/well/family/00well-maternal/00well-maternal-superJumbo.jpg?quality=90&auto=webp"
                        class="card-img-top img-fluid" alt="News">
                    <div class="card-body">
                        <h5 class="card-title">Reducing Maternal Mortality</h5>
                        <a target="_blank"
                            href="https://www.nytimes.com/2019/03/05/well/family/reducing-maternal-mortality.html?action=click&module=RelatedLinks&pgtype=Article"
                            class="btn btn-warning">Read More...</a>
                    </div>
                </div>
            </div>
            <div class="col-sm-12 col-md-4 d-flex justify-content-center">
                <div class="card" style="width: 18rem; height: 19rem;">
                    <img src="https://static01.nyt.com/images/2019/05/07/science/07PREGNANCY-DEATHS/merlin_133802664_ace49ff5-aeb3-4b44-9ec3-4f161ae89790-superJumbo.jpg?quality=90&auto=webp"
                        class="card-img-top" alt="News">
                    <div class="card-body">
                        <h5 class="card-title">Huge Racial Disparities Found in Deaths Linked to Pregnancy</h5>
                        <a target="_blank" href="https://www.nytimes.com/2019/05/07/health/pregnancy-deaths-.html"
                            class="btn btn-warning">Read More...</a>
                    </div>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-sm-12 col-md-4 d-flex justify-content-center">
                <div class="card" style="width: 18rem; height: 19rem;">
                    <img src="https://media.npr.org/assets/img/2017/12/07/harlan_npr_wandairving_24_custom-30c82a935618b588055fc0e821a6473dad44aa12-s2500-c85.jpg"
                        class="card-img-top" alt="News">
                    <div class="card-body">
                        <h5 class="card-title">Black Mothers Keep Dying After Giving Birth.</h5>
                        <a target="_blank"
                            href="https://www.npr.org/2017/12/07/568948782/black-mothers-keep-dying-after-giving-birth-shalon-irvings-story-explains-why"
                            class="btn btn-warning">Read More...</a>
                    </div>
                </div>
            </div>
            <div class="col-sm-12 col-md-4 d-flex justify-content-center">
                <div class="card" style="width: 18rem; height: 19rem;">
                    <img src="https://www.cdc.gov/ncbddd/birthdefects/features/images/women-checking-glucose-level.jpg"
                        class="card-img-top img-fluid" alt="News">
                    <div class="card-body">
                        <h5 class="card-title">Pre-existing Diabetes Can Increase Risk for Birth Defects</h5>
                        <a target="_blank"
                            href="https://www.cdc.gov/ncbddd/birthdefects/features/pre-existing-diabetes-increased-risk.html"
                            class="btn btn-warning">Read More...</a>
                    </div>
                </div>
            </div>
            <div class="col-sm-12 col-md-4 d-flex justify-content-center">
                <div class="card" style="width: 18rem; height: 19rem;">
                    <img src="https://cdn.the-scientist.com/assets/articleNo/67755/hImg/38739/banner-pregnant-x.png"
                        class="card-img-top" alt="News">
                    <div class="card-body">
                        <h5 class="card-title">Two COVID-19 Clinical Trials Seek to Enroll Pregnant Women</h5>
                        <a target="_blank"
                            href="https://www.the-scientist.com/news-opinion/two-covid-19-clinical-trials-seek-to-enroll-pregnant-women-67755"
                            class="btn btn-warning">Read More...</a>
                    </div>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-sm-12 col-md-4 d-flex justify-content-center">
                <div class="card" style="width: 18rem; height: 19rem;">
                    <img src="https://cdn.mos.cms.futurecdn.net/7tzbK4xbCQeDrV5xZzBYmA-1024-80.jpg.webp"
                        class="card-img-top img-fluid" alt="News">
                    <div class="card-body">
                        <h5 class="card-title">Dietary Supplement Ingredient Linked to Miscarriages, FDA Warns</h5>
                        <a target="_blank"
                            href="https://www.livescience.com/65629-vinpocetine-supplements-miscarriages.html"
                            class="btn btn-warning">Read More...</a>
                    </div>
                </div>
            </div>
            <div class="col-sm-12 col-md-4 d-flex justify-content-center">
                <div class="card" style="width: 18rem; height: 19rem;">
                    <img src="https://media.npr.org/assets/img/2018/07/28/maternity_npr_brm047_custom-af35a2a6e99f7c3152a71e39242e505a87ed39ec-s2500-c85.jpg"
                        class="card-img-top img-fluid" alt="News">
                    <div class="card-body">
                        <h5 class="card-title">To Keep Women From Dying In Childbirth, Look To California</h5>
                        <a target="_blank"
                            href="https://www.npr.org/2018/07/29/632702896/to-keep-women-from-dying-in-childbirth-look-to-california"
                            class="btn btn-warning">Read More...</a>
                    </div>
                </div>
            </div>
            <div class="col-sm-12 col-md-4 d-flex justify-content-center">
                <div class="card" style="width: 18rem; height: 19rem;">
                    <img src="https://media.npr.org/assets/img/2017/12/21/maternalm_ipl_021_custom-36633826e1baf6a39f44bf9f364d07e80f84e804-s1600-c85.jpg"
                        class="card-img-top" alt="News">
                    <div class="card-body">
                        <h5 class="card-title">Nearly Dying In Childbirth: Why Preventable Complications Are Growing In
                            U.S.</h5>
                        <a target="_blank"
                            href="https://www.npr.org/2017/12/22/572298802/nearly-dying-in-childbirth-why-preventable-complications-are-growing-in-u-s"
                            class="btn btn-warning">Read More...</a>
                    </div>
                </div>
            </div>
        </div>

    </div>

    <!--Footer-->
    <footer>
        <div class="footer">
            &copy; <a>COPYRIGHT UNC BOOT CAMP 2020</a> &copy;
        </div>
    </footer>

    <!-- BootStrap JS -->
    <script src="static/js/jquery/jquery-3.5.1.slim.min.js"></script>
    <script src="static/js/popper/popper.min.js"></script>
    <script src="static/js/bootstrap/bootstrap.bundle.min.js"></script>

    <!-- JS -->


</body>

</html>