<!DOCTYPE html>

<html lang="en">

<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- Bootstrap CSS -->
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"
        integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj"
        crossorigin="anonymous"></script>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.5.3/dist/css/bootstrap.min.css"
        integrity="sha384-TX8t27EcRE3e/ihU7zmQxVncDAy5uIKz4rEkgIXeMed4M0jlfIDPvg6uqKI2xXr2" crossorigin="anonymous" />
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.5.3/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-ho+j7jyWK8fNQe+A12Hb8AhRq26LrZ/JpcUGGOn+Y7RsweNrtN/tE3MoK7ZeZDyx"
        crossorigin="anonymous"></script>

    <!-- anychart.js -->
    <script
        src="https://cdn.anychart.com/geodata/latest/countries/united_states_of_america/united_states_of_america.js"></script>
    <script src="https://cdn.anychart.com/releases/v8/js/anychart-base.min.js"></script>
    <script src="https://cdn.anychart.com/releases/v8/js/anychart-ui.min.js"></script>
    <script src="https://cdn.anychart.com/releases/v8/js/anychart-exports.min.js"></script>
    <script src="https://cdn.anychart.com/releases/v8/js/anychart-circular-gauge.min.js"></script>
    <script src="https://cdn.anychart.com/releases/v8/js/anychart-map.min.js"></script>
    <script src="https://cdn.anychart.com/releases/v8/js/anychart-table.min.js"></script>
    <script src="https://cdn.anychart.com/releases/v8/js/anychart-data-adapter.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/proj4js/2.3.15/proj4.js"></script>
    <link href="https://cdn.anychart.com/playground-css/maps_in_dashboard/USA_dashboard_multiselect/style.css"
        type="text/css" rel="stylesheet">
    <link href="https://cdn.anychart.com/releases/v8/css/anychart-ui.min.css" type="text/css" rel="stylesheet">
    <link href="https://cdn.anychart.com/releases/v8/fonts/css/anychart-font.min.css" type="text/css" rel="stylesheet">
    <!--<style type="text/css">-->

    <!-- JS -->
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js"
        integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN"
        crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.5.3/dist/js/bootstrap.min.js"
        integrity="sha384-w1Q4orYjBQndcko6MimVbzY0tgp4pWB4lZ7lr30WKz0vr/aWKhXdBNmNb5D92v7s"
        crossorigin="anonymous"></script>

    <!-- d3 -->
    <script src="https://d3js.org/d3.v6.min.js"></script>

    <!--Bring in the css style sheet-->
    <link rel="stylesheet" href="../static/css/style.css" />

    <!-- Title -->
    <title>United States: Maternal Mortality</title>
</head>

<body>
    <!--Navigator-->
    <nav class="navbar navbar-expand-lg fixed-top navbar-light bg-light">
        <a class="navbar-brand btn btn-outline-secondary" href="/" id="home">Home</a>

        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
            aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav ml-auto">
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle active" href="#" id="navbarDropdown" role="button"
                        data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        United States
                    </a>
                    <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                        <a class="dropdown-item" href="/usdata">Affordable Care Act</a>
                        <a class="dropdown-item" href="#">To be discussed</a>
                        <a class="dropdown-item" href="/ranked">Ranked Measure Comparisons</a>
                    </div>
                </li>
                <li class="nav-item">
                    <a class="nav-link active" href="/methodology">Methodology</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link active" href="/aboutus">About Us</a>
                </li>
            </ul>
        </div>
    </nav>

    <!-- Top Section -->
    <div class="container-fluid" id="container">
        <div class="row">
            <!-- Image Source: https://i0.wp.com/uclg-aspac.org/wp-content/uploads/2020/02/200224-1.jpg?resize=624%2C372&ssl=1 -->
            <div class="col-md-12 text-center" id="header-bg">
                <p id="cite">&copy; United Cities and Local Governments Asia Pacific (UCLG ASPAC)</p>
            </div>
            <div class="col-md-12 text-center">
                <h1>United States</h1>
                <h5>Ranked Measure Comparisons</h5>
            </div>
        </div>
    </div>

    <!-- Main Section -->
    <div class="container">
        <br>
        <div class="row">
            <div id="container"></div>
        </div>
        <!--div for selection box, demo box, chart-->
        <div class="row">
            <div class="col-md-2">
                <div class="well">
                    <h7 class="selection">Select a Measure</h7>
                    <select id="selDataset" onchange="optionChanged(this.value)"></select>
                </div>
            </div>
            <div class="col-md-auto">
                <div class="col-12">
                    <div class="question" data-role="trigger">
                        <p class="inline-block p-3 rounded">
                            <img alt="question badge" class="question-badge"
                                src="https://bs-assets.toptal.io/blackfish-assets/public/shared/images/icons/question_badge_bc30c7.png">
                            How do the five states with the highest and lowest Maternal Mortality Rates compare on related ranked healthcare measures?
                        </p>
                    </div>
                </div>
                <div class="col-12">
                    <p class="fs-6"><b>Note:</b> In 2014 ACA Insurance Reforms and ACA Marketplace premium subsidies
                        took
                        effect.
                        <br> Medicaid expansion began in states that opted in.
                    </p>
                </div>
            </div>

        </div>
    </div>
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <!--mmr plot-->
                <div id="plot"></div>
            </div>
            <div class="col-md-12">
                <!--insurance plot-->
                <div id="insChart"></div>
            </div>
        </div>
    </div>
    <!-- nested row and columns for 4 comparison charts -->
    <div class="container">
        <div class="row">

            <div class="col-md-6">
                <!-- state plot 1 -->
                <div id="state1"></div>
            </div>

            <div class="col-md-6">
                <!-- state plot 2-->
                <div id="state2"></div>
            </div>

            <div class="col-md-6">
                <!-- state plot 3-->
                <div id="state3"></div>
            </div>

            <div class="col-md-6">
                <!-- state plot 4-->
                <div id="state4"></div>
            </div>

        </div>
    </div>
    <div class="container">
        <div class="row">
            <!--left side-->
            <div class="col-md-12 text-justify">
                <h3>Summary</h3>
                <hr>
                <p>Data on maternal deaths in the U.S. was collected from the CDC Wonder site. Death counts include
                    maternal deaths owing to obstetrical tetanus, maternal deaths up to 42 days after delivery, as well
                    as late maternal deaths (defined by the WHO as the death of a woman from direct or indirect
                    obstetric causes, more than 42 days but less than one year after termination of pregnancy).</p>

                <p>Between 2003 and 2017, states were incrementally implementing a pregnancy status checkbox on death
                    certificates which affected the comparability of data between states. By 2018 all states had
                    implemented a checkbox.</p>
            </div>

        </div>
    </div>



    <!--Footer-->
    <footer>
        <div class="footer">
            &copy; <a>COPYRIGHT UNC BOOT CAMP 2020</a> &copy;
        </div>
    </footer>

    <!-- Plot.ly -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/d3/5.5.0/d3.js"></script>
    <script src="https://cdn.plot.ly/plotly-latest.min.js"></script>

    <!-- JS file -->
    <script type="text/javascript" src="../static/js/config.js"></script>
    <script type="text/javascript" src="../static/js/us.js"></script>
</body>

</html>