<!DOCTYPE html>

<html lang="en">

<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- Bootstrap CSS -->
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"
        integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj"
        crossorigin="anonymous"></script>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.5.3/dist/css/bootstrap.min.css"
        integrity="sha384-TX8t27EcRE3e/ihU7zmQxVncDAy5uIKz4rEkgIXeMed4M0jlfIDPvg6uqKI2xXr2" crossorigin="anonymous" />
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.5.3/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-ho+j7jyWK8fNQe+A12Hb8AhRq26LrZ/JpcUGGOn+Y7RsweNrtN/tE3MoK7ZeZDyx"
        crossorigin="anonymous"></script>

    <!-- JS -->
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js"
        integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN"
        crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.5.3/dist/js/bootstrap.min.js"
        integrity="sha384-w1Q4orYjBQndcko6MimVbzY0tgp4pWB4lZ7lr30WKz0vr/aWKhXdBNmNb5D92v7s"
        crossorigin="anonymous"></script>

    <!-- d3 -->
    <script src="https://d3js.org/d3.v6.min.js"></script>

    <!--Bring in the css style sheet-->
    <link rel="stylesheet" href="static/css/style.css" />

    <!-- Title -->
    <title>US: Ranked Health Measure Comparisons</title>
</head>

<body>
    <!--Navigator-->
    <nav class="navbar navbar-expand-lg fixed-top navbar-light bg-light">
        <a class="navbar-brand btn btn-outline-secondary" href="/" id="home">Home</a>

        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
            aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav ml-auto">
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle active" href="#" id="navbarDropdown" role="button"
                        data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        United States
                    </a>
                    <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                        <a class="dropdown-item" href="/usdata">Affordable Care Act</a>
                        <a class="dropdown-item" href="/usranked">Ranked Health Measure Comparisons</a>
                    </div>
                </li>
                <li class="nav-item">
                    <a class="nav-link active" href="/methodology">Methodology</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link active" href="/aboutus">About Us</a>
                </li>
            </ul>
        </div>
    </nav>

    <!-- Top Section -->
    <div class="container-fluid">
        <div class="row">
            <!-- Image Source: https://i0.wp.com/uclg-aspac.org/wp-content/uploads/2020/02/200224-1.jpg?resize=624%2C372&ssl=1 -->
            <div class="col-md-12 text-center" id="header-bg">
                <p id="cite">&copy; United Cities and Local Governments Asia Pacific (UCLG ASPAC)</p>
            </div>
            <div class="col-md-12 text-center">
                <h1>United States</h1>
                <h5>Ranked Health Measure Comparisons</h5>
            </div>
        </div>
    </div>

    <!-- Main Section -->
    <div class="container">
        <!--div for selection box, demo box, chart-->
        <div class="row">
            <div class="col-12">

                <div class="question2" data-role="trigger">
                    <p class="inline-block p-3 rounded">
                        <img alt="question badge" class="question-badge"
                            src="https://bs-assets.toptal.io/blackfish-assets/public/shared/images/icons/question_badge_bc30c7.png">
                        How do the five states with the highest and lowest Maternal Mortality Rates compare on
                        their rankings for related health measures?
                    </p>
                </div>

            </div>
        </div>

        <div class="row" id="overview">
            <div class="col-md-12 text-justify">
                <h3>Overview</h3>
                <hr>
                <p>The five states with the highest maternal mortality rates as of the 2019 America's Healthcare
                    Rankings Health of Women and Children (HWC) report were Louisiana, Georgia, Indiana, New Jersey, and
                    Arkansas. Conversely, the five states with the lowest rates were Alaska, Massachusets, Nevada,
                    Delaware, and West Virginia. Here you can visualize the maternal mortality rates for those states
                    alongside their national rankings for potentially related factors.</p>
                <p>Use the dropdown menu to choose a ranked measure to compare with the maternal mortality rates for the
                    selected states. We chose to visualize measures from the 2019 HWC Report that we thought might show
                    interesting correlations.</p>
                <p>Aside from Maternal Mortality Rate, all measures are displayed by their ranking: "The state health
                    rankings are a composite index of state-level population health measures. Each measure is ranked by
                    the states’ values, with one being the healthiest value and 50 the least healthy value. Ties in
                    value are assigned equal ranks." <a
                        href="https://www.americashealthrankings.org/about/methodology/rankings"
                        target="_blank"><em>United Health Foundation</em></a></p>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <div class="well">
                    <h7 class="selection">Select a Measure</h7>
                    <select id="selDataset" onchange="optionChanged(this.value)"></select>
                </div>
            </div>
        </div>
        <!-- Graph will go here -->
        <div class="row">
            <div class="col-md-12">
                <!--mmr plot-->
                <div id="rankedplot"></div>
            </div>
        </div>

        <div class="row">
            <div class="col-md-12 text-justify">
                <h3>Summary</h3>
                <hr>
                <div id="overview">
                    <p>For some of the measures we have visualized, larger numbers were a positive thing, while for
                        others, smaller numbers were a positive thing (see measure notes below). Therefor what we were
                        hoping to accomplish with these visualizations is simply establishing if there appear to be any
                        correlations or trends warranting further investigation.</p>
                    <p>For some measures, there are not any clear trends we could discern, but for others there was
                        clumping, wherein the high MMR states and low MMR states were grouped more closely with
                        themselves. More in-depth data gathering and analysis would be necessary to draw any significant
                        conclusions, but we are able to conclude that there are likely some connections between MMR and
                        the other health measures we are looking at here.</p>
                    <p>For some measures, like Health Outcomes - Women, we were surprised to see that the states with
                        higher MMR actually trended as lower ranked overall. This leads us to believe that there are
                        likely other factors at play that are not obvious within this limited dataset</p>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <h3>Definition</h3>
                <hr>
                <div id="overview">
                    <table class="table">
                        <div class="table-responsive">
                            <table class="table align-middle table-striped table-hover table-borderless w-auto">
                                <thead>
                                    <tr>
                                        <th class="col-auto" scope="col">Term</th>
                                        <th class="col-auto" scope="col">Description</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr>
                                        <th scope="row" class="text-nowrap">Maternal Mortality Ratio</th>
                                        <td class="text-justify">Number of deaths from any cause related to or
                                            aggravated by
                                            pregnancy or its management (excluding accidental or incidental causes)
                                            during
                                            pregnancy
                                            and
                                            childbirth or within one year of termination of pregnancy, irrespective of
                                            the
                                            duration
                                            and site
                                            of the pregnancy, per 100,000 live births (5-year estimate).</td>
                                    </tr>
                                    <tr>
                                        <th scope="row" class="text-nowrap">Adequate Health Insurance</th>
                                        <td class="text-justify">Percentage of insured children ages 0-17 whose health
                                            plan
                                            has either no or reasonable out-of-pocket costs; offers benefits or covered
                                            services that meet
                                            the children’s needs; and allows them to see needed health care providers
                                            (2-year estimate).</td>
                                    </tr>
                                    <tr>
                                        <th scope="row" class="text-nowrap">Adequate Prenatal Care</th>
                                        <td class="text-justify">Percentage of live births in which the mother received
                                            prenatal care beginning in the first four months of pregnancy with the
                                            appropriate number of
                                            visits for the infant's gestational age.</td>
                                    </tr>
                                    <tr>
                                        <th scope="row" class="text-nowrap">Avoided Care due to Cost</th>
                                        <td class="text-justify">Percentage of women ages 18-44 who reported a time in
                                            the
                                            past 12 months when they needed to see a doctor but could not because of
                                            cost.</td>
                                    </tr>
                                    <tr>
                                        <th scope="row" class="text-nowrap">Dedicated Health Care Provider - Women</th>
                                        <td class="text-justify">Percentage of women ages 18-44 who reported
                                            having one or more people they think of as their personal doctor or health
                                            care provider.</td>
                                    </tr>
                                    <tr>
                                        <th scope="row" class="text-nowrap">Developmental Screening</th>
                                        <td class="text-justify">Percentage of children 9-35 months whose parent
                                            completed a
                                            standardized developmental screening tool in the past 12 months (2-year
                                            estimate).</td>
                                    </tr>
                                    <tr>
                                        <th scope="row" class="text-nowrap">Health Outcomes - Women</th>
                                        <td class="text-justify">Sum of weighted z-scores of all ranked health outcomes
                                            measures for women.</td>
                                    </tr>
                                    <tr>
                                        <th scope="row" class="text-nowrap">Infant Mortality</th>
                                        <td class="text-justify">Number of infant deaths (before age 1) per 1,000 live
                                            births.</td>
                                    </tr>
                                    <tr>
                                        <th scope="row" class="text-nowrap">Maternity Practices in Infant Nutrition and
                                            Care</th>
                                        <td class="text-justify">Maternity Practices in Infant and
                                            Nutrition Care survey score based on seven birth facility policies and
                                            practices, with higher
                                            scores denoting better maternity care policies and practices.</td>
                                    </tr>
                                    <tr>
                                        <th scope="row" class="text-nowrap">Mortality - Women</th>
                                        <td class="text-justify">Number of deaths per 100,000 women ages 20-44.</td>
                                    </tr>
                                    <tr>
                                        <th scope="row" class="text-nowrap">Policy - Women</th>
                                        <td class="text-justify">Weighted sum of the number of standard deviations each
                                            Policy measure
                                            is from the national average.</td>
                                    </tr>
                                    <tr>
                                        <th scope="row" class="text-nowrap">Overall - Women</th>
                                        <td class="text-justify">Weighted sum of the number of standard deviations each
                                            Women measure
                                            is from the national average.</td>
                                    </tr>
                                    <tr>
                                        <th scope="row" class="text-nowrap">Prenatal Care Before Third Trimester</th>
                                        <td class="text-justify">Percentage of live births in which the mother
                                            began prenatal care between the first and sixth month of pregnancy.</td>
                                    </tr>
                                    <tr>
                                        <th scope="row" class="text-nowrap">Publicly-Funded Women's Health Services</th>
                                        <td class="text-justify">Percentage of likely need for contraceptive
                                            services among women with a family income 250% below the federal poverty
                                            level and women younger
                                            than 20 met by publicly-funded clinics.</td>
                                    </tr>
                                    <tr>
                                        <th scope="row" class="text-nowrap">Receiving Public Assistance</th>
                                        <td class="text-justify">Assistance programs that provide either cash assistance
                                            or in-kind benefits to individuals and families from any governmental
                                            entity<a
                                                href="https://www.census.gov/topics/income-poverty/public-assistance/about.html">(US
                                                Census,
                                                2021).</a>.</td>
                                    </tr>
                                    <tr>
                                        <th scope="row" class="text-nowrap">Uninsured Women</th>
                                        <td class="text-justify">Percentage of women ages 19-44 not covered by private
                                            or public
                                            health insurance.</td>
                                    </tr>
                                    <tr>
                                        <th scope="row" class="text-nowrap">Well-Woman Visit</th>
                                        <td class="text-justify">Percentage of women ages 18-44 with a preventive
                                            medical visit in
                                            the past year.</td>
                                    </tr>
                                    <tr>
                                        <th scope="row" class="text-nowrap">WIC Coverage</th>
                                        <td class="text-justify">The Special Supplemental Nutrition Program for Women,
                                            Infants, and Children (WIC) provides federal grants to states for
                                            supplemental foods, health care referrals, and nutrition education for
                                            low-income pregnant, breastfeeding, and non-breastfeeding postpartum women,
                                            and to infants and children up to age five who are found to be at
                                            nutritional risk <a href="https://www.fns.usda.gov/wic">(USDA,
                                                2021).</a></td>
                                    </tr>
                                </tbody>
                            </table>
                            <caption id="reference"><b>Source:</b> All terms and description bases on <a
                                    href="https://www.americashealthrankings.org/learn/reports/2019-health-of-women-and-children-report"
                                    target="_blank">2019 HWC Report (otherwise stated in description)</a> -- "It is
                                important to note that "The edition
                                year is not the same as data year(s). The most recent data available are
                                used. For some
                                measures, multiple years of data are combined to have sufficient sample
                                size"<a href="https://www.americashealthrankings.org/about/methodology/rankings"
                                    target="_blank">(America's Health Rankings, 2021)</a>.
                            </caption>
                        </div>
                    </table>
                </div>
            </div>
        </div>
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <h3>References</h3>
                    <hr>
                    <div id="reference">
                        <p>United Health Foundation<a
                                href="https://www.americashealthrankings.org/explore/health-of-women-and-children/measure/maternal_mortality_a/state/ALL?edition-year=2019"
                                target="_blank"><em>2019 Health of Women and Children Report: Maternal Mortality
                                    Rate</em></a>.
                            America's Health Rankings analysis of CDC WONDER Online Database, Underlying Cause of Death,
                            Multiple Cause of Death files (2013-2017)</p>
                        <p>United Health Foundation<a
                                href="https://www.americashealthrankings.org/explore/health-of-women-and-children"
                                target="_blank"><em>2019 Health of Women and Children Report</em></a>.
                            America's Health Rankings, Accessed January 2021</p>
                    </div>
                </div>
            </div>
        </div>
    </div>


    <!--Footer-->
    <footer>
        <div class="footer">
            &copy; <a>COPYRIGHT UNC BOOT CAMP 2020</a> &copy;
        </div>
    </footer>

    <!-- Plot.ly -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/d3/5.5.0/d3.js"></script>
    <script src="https://cdn.plot.ly/plotly-latest.min.js"></script>

    <!-- JS file -->
    <script type="text/javascript" src="static/js/config.js"></script>
    <script type="text/javascript" src="static/js/usranked.js"></script>

</body>

</html>